data/*
.env
frontend/node_modules/*
.DS_Store
frontend/package-lock.json
Thumbs.db
224embeddings/*
# Build outputs
/build
/dist
frontend/src/Appfull.js
# Log files
*.log
*.pyc
migration/production_data/locations_metadata.json
migration/production_data/umap_coordinates.json
legacy/*