data/*
.env
webapp/frontend/node_modules/*
.DS_Store
webapp/frontend/package-lock.json
Thumbs.db
224embeddings/*
analysis/embeddings/*
analysis/cached_stac_data/*
analysis/production_data/*
analysis/outputs/*

# Build outputs
/build
/dist
webapp/frontend/src/Appfull.js

# Log files
*.log
*.pyc
webapp/legacy/*
migration/production_data/umap_coordinates.json